/* @import 'antd/dist/antd.css'; */

.App {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

#welcome h1 {
  font-size: 2em;
  color: #294694;
  font-family: 'Roboto', sans-serif;
}

#instruction-list {
  color: #294694 !important;
}

#instruction-list li {
  font-size: 1.3em ;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  color: white;
  background-color: #51669D;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 500;
}

.logo a {
  text-decoration: none;
  color: white;
}

.site-layout .site-layout-background {
  background: #fff;
}

#user-name {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #294694;
}

.lock-icon {
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
  color: grey;
}

.page-header {
  font-size: 30px;
  color: #1F346D !important;
}

.project-confirm-data {
  font-size: 1.5em;
  font-weight: 600;
}

.worker-detail-card p {
  margin: 0;
  color: #1F346D;

}

.worker-detail-card span {
  font-size: 1.5em;
  margin-left: 10px;
}

.worker-profile-avatar {
  object-fit: cover;
}

.workerList-avatar-size {
  height: 200px;
  width: auto;
  max-width: 200px;
}

.attendance-avatar-size {
  height: auto;
  width: 100%;
  max-height: 204px;
  max-width: 204px;
}

.timeTag h2 {
  margin: 0;
  font-size: 1.5em;
}

.timeTag-name {
  padding-left: 10%;
}

.timeTag-focus-bg {
  background-color: #BFC7DF !important;
}

.timeTag-highlight-bg {
  background-color: #e6faff;
}

.brief-worker-info {
  font-size: 20px;
  color: #1F346D;
}

.brief-worker-info span {
  font-size: 30px;
  font-weight: 600;
}

.worker-earn-card p, .worker-earn-card h3 , .worker-earn-card {
  color: #1F346D !important;
}

.worker-earn-card p {
  font-size: 1.2em;
  margin: 0;
  line-height: 40px;
}

.card-bio-content {
  font-size: 1.3em;
  font-weight: 600;
}

.worker-earn-card h3 {
  margin: 5px 0;
}

.blue-bg {
  background-color: #BFC7DF;
}

.worker-earn-card .time-topic {
  padding-left: 10%;
}

.attendance-edit-input {
  padding: 4px 5px !important;
}

.accounting-summary-result {
  font-size: 2em;
  font-weight: 500;
  margin: 0;
  color: #1F346D !important;
}

.accounting-date-display {
  font-size: 2.5em;
  font-weight: 600;
  margin: 0;
  color: #1F346D !important;
}